<div class="location-modal" id="location-modal" aria-hidden="true">
  <div class="location-modal__backdrop" data-modal-close></div>
  <div class="location-modal__box" role="dialog" aria-modal="true" aria-label="{{ include.location }} map">
    <button type="button" class="location-modal__close" data-modal-close aria-label="Close">&times;</button>
    <h4 class="location-modal__title">{{ include.location }}</h4>
    <iframe
      class="location-modal__map"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps?q={{ include.location | url_encode }}&output=embed">
    </iframe>
  </div>
</div>
